body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: black;
    color: rgb(185, 143, 4);
    font-family: cooper;
}

.logo {
    width: 800px;
    height: auto;
    margin: 20px;
}

h1,
h2 {
    margin: 10px;
    font-size: 50px;
    text-decoration: underline;
}

h3 {
    margin: 120px;
    border: 3px solid orangered;
    border-radius: 30px;
    height: 60px;
    width: 1300px;
    font-size: 25px;
}

h4 {
    margin-bottom: 20px;
    font-size: 25px;
}


input[type="submit"]{
    width: 250px;
    height: 40px;
    border: 3px solid orangered;
    border-radius: 30px;
    background-color: black;
    color: rgb(238, 189, 29);
    font-family: cooper;
    font-size: 17px;
    margin-bottom: 20px;
}