body {
    width: 99%;
    color: rgb(238, 189, 29);
    border: 2px solid rgb(238, 189, 29);
    background-color: black;
    background-image: url(https://cutewallpaper.org/26/aperture-science-wallpaper-hd-gif/aperture-science-logos-video-games-amino.gif);
    background-repeat: no-repeat;
    background-size: 2700px 1100px;
    background-position: center;
    text-align: center;
    font-family: cooper black;
    font-size: 19px;
}

h1 {
    color: rgb(238, 189, 29);
    border: 2px solid rgbrgb(238, 189, 29);
    border-radius: 30px;
    display: inline-block;
    padding: 5px;
    font-size: 40px;
    width: 550px;
}

h2 {
    color: rgb(238, 189, 29);
}

input[type="text"] {
    width: 20%;
    padding: 10px;
    border: 3px solid rgb(238, 189, 29);
    border-radius: 30px;
    text-align: center;
    background-color: black;
    color: rgb(238, 189, 29);
    font-family: cooper black;
    font-size: 19px;
    margin-bottom:10px;
}

input[type="email"] {
    width: 20%;
    padding: 10px;
    border: 3px solid rgb(238, 189, 29);
    border-radius: 30px;
    text-align: center;
    background-color: black;
    color: rgb(238, 189, 29);
    font-family: cooper black;
    font-size: 19px;
    margin-bottom: 10px;
}

input[type="password"] {
    width: 20%;
    padding: 10px;
    border: 3px solid rgb(238, 189, 29);
    border-radius: 30px;
    text-align: center;
    background-color: black;
    color: rgb(238, 189, 29);
    font-family: cooper black;
    font-size: 19px;
    margin-bottom: 10px;
}

input[type="date"] {
    width: 20%;
    padding: 10px;
    border: 3px solid rgb(238, 189, 29);
    border-radius: 30px;
    text-align: center;
    background-color: black;
    color: rgb(238, 189, 29);
    font-family: cooper black;
    font-size: 19px;
    margin-bottom: 10px;
}

input[type="tel"] {
    width: 20%;
    height: 20px;
    padding: 10px;
    border: 3px solid rgb(238, 189, 29);
    border-radius: 30px;
    text-align: center;
    background-color: black;
    color: white;
    font-family: cooper black;
    margin-bottom: 11px;
    font-size: 19px;
}

input[type="submit"] {
    width: 100px;
    height: 30px;
    border: 3px solid rgb(238, 189, 29);
    border-radius: 30px;
    background-color: black;
    color: rgb(238, 189, 29);
    font-family: cooper;
    font-size: 15px;
    margin-bottom: 11px;
}

select {
    width: 22%;
    padding: 10px;
    border: 3px solid rgb(238, 189, 29);
    border-radius: 30px;
    text-align: center;
    background-color: black;
    color: rgb(238, 189, 29);
    font-family: cooper black;
    font-size: 19px;
    margin-bottom: 11px;
}